<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/player.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <header class="container">
        <div class="site-header d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="images/music.png" alt="" class="logo p-1">
                <h4>موسیقی کده</h4>
            </div>
            <div class="authentication">
                <button href="" class="btn"> <a href="">ثبت نام</a> </button> / <button href="" class="btn"> <a
                        href="">ورود</a> </button>
            </div>
        </div>
        <div class="menu-header">
            <ul>
                <li><a href="">خانه</a></li>
                <li><a href="">جدید ها</a></li>
                <li><a href="">پاپ</a></li>
                <li><a href="">سنتی</a></li>
            </ul>
        </div>

    </header>
    <!-- Slider main container -->
    <div class="container swiper singers-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>
            <div class="swiper-slide">
                <img src="images/singer1.jpg" alt="" />
                <a>محسن چاووشی</a>
            </div>

        </div>
    </div>

    <!-- Content -->
    <div class="container">
        <!-- right side -->
        <div class="row">
            <div class="col-8 right-side">
                <div class="d-flex justify-content-between">
                    <div class="header-right-side d-flex align-items-center">
                        <div class="line-title d-flex align-items-center">
                            <div class="circle-line"></div>
                        </div>
                        <h5 class="py-2 ">بهترین خاطره</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="view">
                            <span>2 <i class="fa fa-eye" aria-hidden="true"></i></span>
                        </div>
                        <div class="favorite">

                            <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="music-detail">
                    <img src=" images/singer1.jpg " class="music-image " alt=" ">
                    <div>
                        <p class="m-2 mx-3 line-height-music text-justify font-small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</p>
                    </div>

                    <div class="music-player">
                        <div class="time-line-box d-flex">
                            <div class="time-line"></div>
                            <audio src="audios/audio.mp3" id="audio"></audio>
                        </div>
                        <div class="controllers d-flex justify-content-between py-3 align-items-center">
                            <div class="music-controllers d-flex align-items-center">
                                <p id="go-back" class="link pointer py-2 mx-2" title="10 ثانیه به عقب"><span><i
                                            style="font-size: medium;" class="fa fa-step-forward"></i></span></i>
                                </p>
                                <p id="music-status" class="link pointer py-2 mx-2"><span><i id="music-icon"
                                            class="fa fa-play"></i></span></i>
                                </p>
                                <p id="go-ahead" class="link pointer py-2 mx-2" title="10 ثانیه به جلو"><span><i
                                            style="font-size: medium;" class="fa fa-step-backward"></i></span></i>
                                </p>
                                <p id="timer"></p>
                                <div class="d-flex volume-controller-box">
                                    <p class="volume-control"><i id="volume-icon" class="fa fa-volume-up"></i></p>
                                    <div class="volume-line-box">
                                        <div class="volume-line"></div>
                                    </div>
                                </div>
                                <p id="volume"></p>
                            </div>
                            <div class="music-cover">
                                <img src="images/music.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment-form mt-2">
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                <label for="name">نام:</label>
                                <input class="mt-2 form-control" id="name" type="text" placeholder="نام" name="name" />
                            </div>
                            <div class="col-6">
                                <label for="email">ایمیل:</label>
                                <input class="mt-2 form-control" type="email" placeholder="ایمیل" name="email" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label for="comment">نظر:</label>
                                <textarea class="mt-2 form-control" name="comment" id="comment" cols="30" rows="5" placeholder="نظر"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-success mt-2"><span>ارسال</span></button>
                    </form>
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>برای راحتی خود می توانید
                            <a href="">وارد</a>
                            شوید یا
                            <a href="">ثبت نام</a>
                            کنید.
                        </strong>
                    </div>

                    <script>
                        var alertList = document.querySelectorAll(".alert");
                        alertList.forEach(function(alert) {
                            new bootstrap.Alert(alert);
                        });
                    </script>

                </div>
                <hr>

                <div class="comments">
                    <button class="btn mx-3 badge-comment btn-primary position-relative">
                        نظرات
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">24</span>
                    </button>

                    <div class="m-2 p-2 border rounded">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="my-0 mx-2"><span class="text-secondary"><i class="fa fa-user"
                                            aria-hidden="true"></i></span> مهدی</p>
                            </div>
                            <div class="feedback-to-comment d-flex">
                                <p class="m-0 mx-3"><i class="fa fa-thumbs-o-up"></i> <span>20</span></p>
                                <p class="m-0 mx-2"><i class="fa fa-thumbs-o-down flip"></i> <span>1</span></p>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <p class="text-justify font-small mt-2 mx-4">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                                کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">

                <div class="bg-left-side ">
                    <div class="d-flex header align-items-center ">
                        <h5 class="py-2 ">محبوب ترین ها</h5>
                        <div class="line "></div>
                    </div>
                    <div class="m-1 p-2 border rounded box ">
                        <a href=" " class="popular-link ">یه دل میگه برم</a>
                        <p class="text-dark font-small my-1 ">گوگوش</p>
                        <i>
                            <p class="text-secondary m-0 font-small ">بازدید: 210</p>
                        </i>
                    </div>
                    <div class="m-1 p-2 border rounded box ">
                        <a href=" " class="popular-link ">یه دل میگه برم</a>
                        <p class="text-dark font-small my-1 ">گوگوش</p>
                        <i>
                            <p class="text-secondary m-0 font-small ">بازدید: 210</p>
                        </i>
                    </div>
                    <div class="m-1 p-2 border rounded box ">
                        <a href=" " class="popular-link ">یه دل میگه برم</a>
                        <p class="text-dark font-small my-1 ">گوگوش</p>
                        <i>
                            <p class="text-secondary m-0 font-small ">بازدید: 210</p>
                        </i>
                    </div>
                </div>

                <!-- short link box (slb) -->
                <div class="slb mt-3 border">
                    <small><i>لینک کوتاه</i></small>
                    <!-- short link -->
                    <div class="sl d-flex mt-3 justify-content-between">
                        <i class="fa fa-copy" id="copy-link"></i>
                        <p class="m-0" id="short-link">localhost/music?q=5</p>
                    </div>
                    <p class="text-success mx-3" id="success-copy"><i>با موفقیت کپی شد!</i></p>
                </div>
                <!-- this is for user reaction -->
                <!-- short link box (slb) -->
                <div class="slb mt-3 border pb-2">
                    <small><i>نظر شما</i></small>
                    <form action="" method="get" class="d-flex justify-content-between reaction-form mt-3 mx-3">
                        <label for="great">😍
                            <br>
                            <span>1</span>
                        </label>
                        <input type="submit" hidden value="1" name="reaction" id="great">

                        <label for="good">😀
                            <br>
                            <span>1</span>
                        </label>
                        <input type="submit" hidden value="2" name="reaction" id="good">

                        <label for="middle">😐
                            <br>
                            <span>1</span>
                        </label>
                        <input type="submit" hidden value="3" name="reaction" id="middle">

                        <label for="bad">😑
                            <br>
                            <span>1</span>
                        </label>
                        <input type="submit" hidden value="4" name="reaction" id="bad">

                        <label for="veryBad">😣
                            <br>
                            <span>1</span>
                        </label>
                        <input type="submit" hidden value="5" name="reaction" id="veryBad">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer ">
        <div class="container ">
            <!-- search-box-footer (sbf) -->
            <div class="sbf ">
                <form action=" ">
                    <input type="text " placeholder="آهنگ/خواننده و... " />
                    <button class="link "><span><i class="fa fa-search " aria-hidden="true "></i></span></button>
                </form>
            </div>

            <div class="footer-content ">
                <div class="footer-head ">
                    <h4>جدید ترین آهنگ ها در موسیقی کده</h4>
                </div>
                <div class="footer-menu ">
                    <ul>
                        <li><a href=" ">آهنگ</a></li>
                        <li><a href=" ">خواننده</a></li>
                        <li><a href=" ">آواز</a></li>
                        <li><a href=" ">پاپ</a></li>
                    </ul>
                </div>
                <div class="copy-right ">
                    <p>تمام حقوقی مادی و معنوی متعلق به سایت موسیقی کده می باشد!</p>
                </div>
            </div>

        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js "></script>
    <script src="assets/js/script.js "></script>
    <script src="assets/js/player.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </script>
</body>

</html>